
.container {
    padding: 20px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 100;
    /* width: 300px; */
    /* margin-top: 200px; */
}

#packages {
    max-height: 80vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

a#home {
    text-decoration: none;
    margin:30px;
    position: relative;
    top: 10px;
    z-index: 100;
}

/* For Suggested Packages */

.suggestedRow {
    width: 80vw;
    border-bottom: 1px solid black;
}

.suggestedRow form {
        display: flex;
    align-items: center;
    
    
    flex-wrap: wrap;
}

.suggestedRow form div {
    margin: 0px 10px;
    /* background-color: blue; */
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
}

.suggestedRow form .packageActions a {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 0px;
    background-color: white;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    position: relative;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #c84e62;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
  }

  .suggestedRow form a:hover {
    background-color: #f5f7f9;
    cursor: pointer;
  }


.suggestedRow div.packageName input {
    margin: 0px;
}

.suggestedRow div.packageUrl {
    
}

.suggestedRow div.packageInfo {
    max-width: 300px;
}

.suggestedRow div.packageActions button, .suggestedRow div.packageActions a {
    margin: 5px;
    padding: 7px 15px;
}


/* Pure CSS Animated Background  https://codepen.io/mohaiman/pen/MQqMyo */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#suggestedPackages {
    font-size: 12px;
}

.tempForDana {
    width: 300px;
}

.context {
    width: 100%;
    height: 100vh;
    position: absolute;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.context #container {
    display: flex;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.area{
    background: #c84e62;  
    background: -webkit-linear-gradient(left, #f77389, #c84e62);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Calm breeze https://codepen.io/Lewitje/pen/BNNJjo */

  .container {
    /* max-width: 600px; */
    margin: 0 auto;
    /* padding: 80px 0; */
    /* height: 400px; */
    text-align: center;
  }
h1 {
    /* font-size: 100px; */
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
            transition-timing-function: ease-in-put;
    /* font-weight: 200; */
  }
  button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 0px;
    background-color: white;
    /* width: 250px; */
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    position: relative;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #c84e62;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
  }

  form button:hover {
    background-color: #f5f7f9;
    cursor: pointer;
  }

  .package form button {
      margin-top: 10px;
  }

  form p {
      margin-top: 10px;
  }

.package {
    height: 200px;
    margin: 20px 0px 40px;
    display: flex;
    flex-direction: column;
}

.package form {
    display:flex;
    flex-direction:column;
}

.package a {
    z-index: 100;
    position: relative;
    display: block;
    margin: 10px 0px;
    color: #B4E8DF;
}

.package .description {
    font-size: 0.7em;
}

::placeholder {
      color: white;
  }

  input {
    margin: 10px 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    /* width: 250px; */
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    position: relative;
    /* width: 100px; */
    width: 40%;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
  }
  input:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  input:focus {
    background-color: white;
    /* width: 300px; */
    color: #c84e62;
  }
